{{ define "main" }}
<div class="section reveal">
  <div class="container">
    <h1 class="section-title has-text-centered">{{ .Title }}</h1>
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card" id="worldmap">
          <div class="card-content has-text-centered">
            <div class="content">
              <a href="https://gitter.im/cs3org/community" target="_blank" rel="noopener noreferrer">
                <p><i class="fab fa-gitter icon has-text-info"></i> Chat with us</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card" id="worldmap">
          <div class="card-content has-text-centered">
            <div class="content">
              <a href="mailto:contact@cs3community.org?subject=CS3 Community Interest">
                <p><i class="fas fa-envelope icon has-text-info"></i> contact@cs3community.org</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
